<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
     rel="stylesheet"/>
    <link href="{{ url_for('static', filename = 'css/style.css')}}" rel="stylesheet"/>
</head>
<body>
    <h1 class="text-center">BAN HANG TRUC TUYEN</h1>
    <ul>
        <li><a href="{{url_for('product_list')}}">Tat ca</a></li>
        {% for cat in categories %}
        <li><a href="#">{{ cat.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>