<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
     rel="stylesheet"/>
    <link href="{{ url_for('static', filename = 'css/style.css')}}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <table class="table">
            <tr>
                <th></th>
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>price</th>
            </tr>
            {% for p in product %}
            <tr>
                <td>{{p.image}}</td>
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.description}}</td>
                <td>{{p.price}} VND</td>
            </tr>
             {% endfor %}
        </table>
    </div>
</body>
</html>